<!DOCTYPE html>
<html lang='zh-cmn-Hans'>
  <head> 
    <title>暴力行为检测</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet" 
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    >
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
      crossorigin="anonymous"
    >
    </script>
    {% block css %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <span class="navbar-brand">暴力行为检测</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {{ index_status[0] }}" aria-current="page" href="/">未处理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ index_status[1] }}" href="/processed">已处理</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="body" class="container-fluid">
    <p class="lead" style="margin-top: 8px">总计： {{ videos|length }}</p>
        {%  block body %}{% endblock %}
    </div>
  </body>
</html>
